/*GENERAL SETTINGS*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

body {
	background-image: url('../images/seigaiha.png');
	background-repeat: repeat;
}

.my-name {
	color: white;
	margin: 0 auto;
}

.body-headers {
	color: #4aaaa5;
	margin-top: 0px;
}

/* NAV-BAR */

.navbar-header {
	background-color: #4aaaa5;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

/* GENERAL CONTENT WINDOW */

.panel-body {
	padding: 25px;
}

hr.content {
	border: 2px solid #dddddd;
}

/* ABOUT-ME WINDOW */

#prof-pic {
	float: left;
	margin-right: 15px;
}

/* CONACT-ME WINDOW CONTENT */

hr.contact-me {
	border: 1px solid #dddddd;
}
